{% extends 'backend/backend_base.html' %}

{% block title %}修改标签{% endblock %}

{% block css %}
    {{ block.super }}
        <link rel="stylesheet" href="/static/plugins/kindeditor/themes/default/default.css"/>
        <style>
            .kind-content{
                width: 100%;
                min-height: 500px;
            }
        </style>
{% endblock %}


{% block main %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div style="margin-left: -60px">
            <ol class="breadcrumb" style="margin-bottom: 0;">
                <li><a href="#">标签管理</a></li>
                <li class="active">标签修改</li>
            </ol>

            <div style="border: 1px #dddddd; border-left: 3px solid #337ab7;">
                <div  class="row" style="margin: 0; padding: 8px 0;">
                    <div class="col-xs-6" style="text-align: left;">
                        <i class="fa fa-search" aria-hidden="true"> 搜索条件</i>
                    </div>
                </div>
            </div>


            <div style="border: 1px solid #dddddd; margin: 0; padding: 8px 0;">

                <div  class="row" style="margin: 0; padding: 8px 0;">
                    <form method="post" action="/backend/edit-tag-{{ tid }}.html" class="form-horizontal" novalidate>
                        {% csrf_token %}
    {#                        <div class="col-xs-12">#}
                            <div class="class-group" >
                                <label class="col-xs-4 control-label">标签名</label>

                                <div class="col-xs-3" style="text-align: left;">
{#                                        <input class="form-control" type="text" value="{{ title }}" placeholder="请输入标签名">#}
                                    {{ form.title }}
                                </div>
                                <div>
                                    <input id="submit" class="btn btn-primary" type="submit" value="修改">
                                    <span id="ErrMsg" style="color: red;">{{ form.title.errors.0 }}{{ form.non_field_errors.0 }}</span>
                                </div>
                            </div>
    {#                        </div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/plugins/kindeditor/lang/zh_CN.js"></script>
    <script>
        KindEditor.ready(function (K) {
            var editor = K.create('.kind-content',{
                resizeType:0
            })
        });

        {#$(function () {#}
        {#    BindEdit();#}
        {# });#}
        {##}
        {#function BindEdit() {#}
        {##}
        {#    $('#submit').click(function () {#}
        {#        $('#ErrMsg').removeAttr('display')#}
        {#    })#}
        {# }#}

    </script>
{% endblock %}

